.social {
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    align-items: center;
    font-size: 1rem;

    @media (max-width: $md3+px) {
        font-size: 6px;
    }

    & > li {
        &:nth-child(1) {
            font-size: 3.3em;
            margin-right: 0.9em;

            & a:active {
                & svg {
                    transform: translateY(0.15em);
                    filter: drop-shadow(1px 1px 0px rgba(0, 161, 161, 0.7));
                }
            }

            & svg {
                filter: drop-shadow(0.18em 0.18em 0px rgba(0, 161, 161, 0.7));
            }
        }

        &:nth-child(2) {
            font-size: 2.8em;
            margin-right: 1.07em;
            & a:active {
                & svg {
                    transform: translateY(0.17em);
                    filter: drop-shadow(1px 1px 0px rgba(0, 161, 161, 0.7));
                }
            }

            & svg {
                filter: drop-shadow(0.21em 0.21em 0px rgba(0, 161, 161, 0.7));
            }
        }

        &:nth-child(3) {
            font-size: 4em;
            & a:active {
                & svg {
                    transform: translateY(0.12em);
                    filter: drop-shadow(1px 1px 0px rgba(0, 161, 161, 0.7));
                }
            }

            & svg {
                filter: drop-shadow(0.15em 0.15em 0px rgba(0, 161, 161, 0.7));
            }
        }

        & a {
            color: $lightColor;
            transition: all 0s ease 0s !important;
            @media (min-width: 992px) {
                &:hover {
                    color: $hover;
                }
            }
        }

        & svg {
            transition: transform 0.3s ease 0s !important;
            display: block;
        }
    }
}
